<html>
    <head>
        <title>hello</title>
    </head>
    <body>
        <h1>Hi!</h1>
        <div>
            <form action="{{ url_for('pay') }}" method="POST">
                <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="{{ pub_key }}"
                    data-amount="100"
                    data-name="New store"
                    data-description="payment test"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-locale="auto">
                </script>
            </form>
        </div>
        <div>
            <h2>KakaoPay</h2>
            <input type="image" src="../static/img/payment_icon.png"
            type="button" onclick="kakaopay();">
        </div>
    </body>
    <script>
        function kakaopay() {
            
        }
    </script>
</html>